<!-- exercise5.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>
      Detalles del Producto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Imagen del producto -->
  <ion-img src="https://i.pinimg.com/originals/4f/da/bc/4fdabc3441bd280961783d26ab6d0370.jpg" class="product-image" alt="Imagen del Producto"></ion-img>

  <!-- Título del producto -->
  <ion-title class="product-title">Nombre del Producto</ion-title>

  <!-- Descripción del producto -->
  <ion-text class="product-description">
    Descripción detallada del producto.
    <!-- Puedes reemplazar esto con la descripción real del producto -->
  </ion-text>
</ion-content>
