<!-- En tu página HTML de Ionic -->
<ion-content>
  <ion-grid>
    <ion-row class="custom-row">
      <!-- Primera columna -->
      <ion-col class="column-a">
        <ion-card>
          <ion-card-content>
            <p>Contenido de la columna A</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Segunda columna -->
      <ion-col class="column-b">
        <ion-card>
          <ion-card-content>
            <p>Contenido de la columna B</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

